* {
font-family: 'Quicksand', sans-serif;
line-height: 1.5em;
margin: 0;
}

.container {
  display: flex;
  flex-direction: row-reverse;
}

header {
  font-size: 2em;
  font-weight: 600;
}

section {
  display: block;
  margin-bottom: 30px;
}

section ul li:not(:last-child) {
    margin-bottom: 1em;
}

.main {
  display: block;
  flex: 3;
  margin: 0 1em;
}

.sidebar {
  background-color: #FAFAFA;
  flex: 1;	
}

.side-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

code {
  display: block;
  background-color: #f7f7f7;
  line-height: 2em;
  white-space: pre;
}

