* {
font-family: 'Quicksand', sans-serif;
line-height: 1.5em;
margin: 0;
}

.container {
  display: flex;
  max-height: 100vh;
}

@media (max-width: 810px) {
  .container {
    flex-direction: column;
  }
}

p {
  margin: 1.5em 0;
}

header {
  font-size: 2em;
  font-weight: 600;
}

section {
  display: block;
  margin-bottom: 30px;
  padding: 0 1em;
}

section ul li:not(:last-child) {
    margin-bottom: 1em;
}

.main {
  display: block;
  flex: 3;
  overflow-y: auto;
}

.sidebar {
  background-color: #FAFAFA;
  flex: 1;	
}

.side-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

code {
  display: block;
  background-color: #f7f7f7;
  padding: 10px;
}

